body{
    margin: 0;
    display: flex;/*make it so i can move button*/ justify-content: center;/*moves button to top center of page*/
    height: 100vh;/*gives me the full height of the screen*/
    align-items: center;/*moves button down to the center of page*/
    background-color: aliceblue;/*changes background color from white to blue*/
    font-family: sans-serif;
}
.btn{
    background-color: pink;/*button color*/
    padding: 20px 40px;/*height and width of button*/
    border-radius: 5px;/*roundness on edges of button*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);/*give a shadow on sides of button*/
    text-decoration: none;/*remove line from under button*/
    color: black; /*changes color of letters*/
    position: relative;/*keeps button in position*/
    overflow: hidden;/*keeps circle from going outside of button*/
}

.btn span{
    position: relative;
    z-index: 1;/*this places the text over the hover color when the pointer is over it.*/
}

/*creating hover effect*/
.btn::before{
    content: "";/*used to place that content in the before or after pseudo-element*/
    position: absolute;/*possitions orange box in button*/
    background-color: orangered;
    width: 0;
    height: 0;/*creates little box in the button area when 20px with and height was added changed to 0 to remove it after the hover was added*/
    left: var(--xPos);/*changed from 50% to be able to use in js*/
    top: var(--yPos);/*changed from 50% to be able to use in js*/
    transform: translate(-50%, -50%);/*centers orange box*/
    border-radius: 50%;/*changes square to circle*/ 
    transition: width 0.5s, height 0.5s;/*makes the circle change smoother*/
}

.btn:hover::before{
    width: 300px;
    height: 300px;
}